.button{
	display: flex;
	align-items: center;
	font-size: 13px;
	font-family: "HelveticaNeueCyr-Medium";
	height: 36px;
	padding: 0 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s background-color;
	text-decoration: none;

	&[disabled] {
		cursor: not-allowed;
	}

	&--1{
		color: #fff;
		background-color: #007DFF;

		&:hover{

			&:enabled{
				background-color: #0059FF;				
			}

		}

		&:focus{
			background-color: #0059FF;		
		}

		&:disabled{
			color: rgba(0,0,0,0.20);
			background-color: #E9ECEF;
		}

	}

	&--2{
		color: #000000;
		background-color: #E9ECEF;	

		&:hover{

			&:enabled{
				background-color: #DDE0E3;			
			}

		}

		&:focus{
			background-color: #C8CDD3;
		}

		&:disabled{
			color: rgba(0,0,0,0.20);
			background-color: #E2E5E8;			
		}

	}

}