.user{
	display: inline-flex;
	align-items: center;
	height: 24px;
	font-size: 13px;
	background-color:  #E9ECEF;
	border-radius: 16px;
	padding-right: 10px;

	&__close{
		width: 10px;
		height: 10px;
		margin-left: 12px;
		background-color: transparent;
		border: none;
		padding: 0;

		&:hover{

			path{
				fill: #000000;
			}

		}
	
		path{
			transition: 0.3s fill;	
		}

	}

}