.not-found{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 30px;
	font-family: "HelveticaNeueCyr-Medium";
	padding-top: 60px;

	&__title{
		margin-bottom: 20px;
	}

}