.field {
	display: flex;
	width: 100%;
    height: 38px;
    background-color: #ffffff;
    border: 2px solid #E9ECEF;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	letter-spacing: 0.47px;
	color: #000;
	transition: 0.3s border-color;

	&::placeholder{
		color: #858E98;
		transition: 0.3s color;
	}

	&:focus{
		border-color: #007DFF;

		&::placeholder{
			color: #000000;
		}

	}

}