.circle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E9ECEF;
    padding: 0;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus{

        svg{

            path{
                fill: #000000;
            }

        }

    }

    svg {

        path {
            transition: 0.5s fill;
            
        }

    }

}
